/*
*
* @author Frederico Lessa
* @e-mail fred.lessa@gmail.com
* @version 0.1
*
*/

/* =================== Layout =================== */
html, body, .company{
	height: 100%;
}


/* -- Formatação do Body -- */
body{
	background: url('../imagens/bg-pelicula.png'),
				url('../imagens/bg-fixo.png');
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
}


/* -- Barra de Navegação -- */
.img-logo{
	height: 45px;
	width: 200px;
	display: block;
	background: url('../imagens/logo.png'), no-repeat;
	background-size: contain;
	color: transparent;
}


nav.navbar-branca{
	background: white;
	border-bottom-color: #991111;
	padding: 15px 0px;
}


.navbar-brand{
	padding: 5px 15px;
}


.navbar-inverse .navbar-nav>li>a.scroll{
	color: #991111;
	font-weight: bold;
}


.navbar-inverse .navbar-nav>li>a:hover.scroll{
	color: black;
}


/* -- Imagem de Company -- */
#home{
	display: table;
	width: 100%;
}


.img-home{
	text-align: right;
	color: white;
	display: table-cell;
	vertical-align: middle;
	width: 35%;
	padding: 15% 0% 10% 0%;
}

.img-responsive{
	float: right;
}


.texto-home{
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
	width: 65%;
	padding: 15% 0% 10% 0%;
}


/* -- Seção Empresa -- */
#empresa{
	background: #fafafa;
	padding: 80px 0px 80px 0px;
}


.img-empresa{
	padding: 8px 0px 7px 0px;
}


/* -- Seção Produtos -- */
#produtos{
	background: #dadada;
	padding: 80px 0px 80px 0px;
}


/* -- Seção Meio Ambiente -- */
.sustentabilidade{
	margin-top: -185px;
	text-align: right;
}


#ambiente{
	padding: 80px 0px 80px 0px;
	background: #7ac245;
}


/* -- Contato -- */
#contato{
	background:#0e0e0e;
	padding: 80px 0px 80px 0px;
}


/* -- Botões -- */
.btn-custom{
	color: #080808;
	border-radius: 10px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 10px 15px;
    padding: 5px 45px;
    transition: background 0.4s, color 0.4s;
}

.btn-branco{
	border: 2px solid white;
	background: white;
}
.btn-branco:hover{
	background: transparent;
	color: white;
}

/* -- Footer -- */
#footer{
	background:#080808;
	padding: 20px 0px 05px 0px;
}


/* ================= Tipografia ================= */
h1{
	font-size: 72px;
	letter-spacing: 5px;
}


h3{
	font-size: 24px;
	color: #f78837;
}


h5{
	line-height: 22px;
}

h6{
	line-height: 18px;
	color: white;
	letter-spacing: 1px;
}


/* =============== Media Queries =============== */
