/*
*
* @author Frederico Lessa
* @e-mail fred.lessa@gmail.com
* @version 0.1
*
*/

/* =================== Layout =================== */
html, body, .row, .company{
	height: 100%; /* Altura */
}


/* -- Formatação do Body -- */
body{
	background: url('../imagens/bg-pelicula.png'),
				url('../imagens/bg-fixo.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover; /* Safari e Chrome */
	-moz-background-size: cover; /* Firefox */
	-ms-background-size: cover; /* IE */
	-o-background-size: cover; /* Opera */
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden; /* Remoçção da Barra de Rolagem Inferior */
}


/* -- Barra de Navegação -- */
.img-logo{
	height: 45px; /* Altura */
	width: 200px; /* Largura */
	display: block;
	background: url('../imagens/logo.png'), no-repeat;
	background-size: contain;
	color: transparent;
}


nav.navbar-branca{
	background: white;
	border-bottom-color: #991111;
	padding: 15px 0px;
}


.navbar-brand{
	padding: 5px 15px;
}


.navbar-inverse .navbar-nav>li>a.scroll{
	color: #991111;
	font-weight: bold;
}


.navbar-inverse .navbar-nav>li>a:hover.scroll{
	color: black;
}


/* -- Imagem de Company -- */
#home{
	height: 650px; /* Altura */
	width: 100%; /* Largura */
	align-items: center;
	vertical-align: center;
	display: flex;
	padding: 25% 0 25% 0;
}


.img-home{
	margin: 0 auto;
	padding-top: 25%;
	justify-content: center;
}


.texto-home{
	color: white;
	text-align: center;
	text-indent: center;
	margin: 0 auto;
	padding-top: 20%;
}


/* -- Seção Empresa -- */
#empresa{
	width: 100%; /* Largura */
	background: #fafafa;
	padding: 80px 0px 80px 0px;
}


.img-empresa{
	padding: 8px 0px 7px 0px;
}


/* -- Seção Produtos -- */
#produtos{
	background: #dadada;
	padding: 80px 0px 80px 0px;
}


/* -- Seção Meio Ambiente -- */
.sustentabilidade{
	margin-top: -185px;
	text-align: right;
}


#ambiente{
	padding: 80px 0px 80px 0px;
	background: #7ac245;
}


.img-responsive.img-before-sustentabilidade{
	float: right;
}


/* -- Contato -- */
#contato{
	background:#0e0e0e;
	padding: 80px 0px 80px 0px;
}


/* -- Botões -- */
.btn-custom{
	color: gray;
	font-size: 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px 50px;
    transition: background 0.4s, color 0.4s;
}

.btn-branco{
	border: 2px solid white;
	background: white;
}
.btn-branco:hover{
	background: transparent;
	color: white;
}

/* -- Footer -- */
#footer{
	background:#080808;
	padding: 20px 0px 05px 0px;
}


/* ================= Tipografia ================= */
h1{
	font-size: 72px;
	letter-spacing: 5px;
}

h1.txt-capa{
	padding: 0px 0px 0px 0px;
	margin: 0 auto;
	letter-spacing: 10px;
}


h3{
	font-size: 24px;
	color: #f78837;
}

h3.txt-capa{
	padding: 0px 0px 0px 0px;
	margin: 0 auto;
}


h5{
	line-height: 22px;
}

h6{
	line-height: 18px;
	color: white;
	letter-spacing: 1px;
}


/* =============== Media Queries =============== */
